/* Header container */
.header-container {
  display: flex;
  justify-content: space-between; /* Space between left, center, and right sections */
  align-items: center;
  padding: 20px;
  background-color: #004b8d;
  color: #fff;
  border-bottom: 2px solid #003366;
}

/* Left Section: Home Button */
.header-left {
  flex: 1; /* Push content to the left */
  display: flex;
  justify-content: flex-start;
}

/* Center Section: Title */
.header-title {
  flex: 2; /* Center content */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.university-logo {
    width: 50px;
    height: auto;
    margin-left: 1px;
}

.header-text {
    display: flex;
    flex-direction: column; /* stacks name and office vertically */
    line-height: 1.2;
}

.university-name {
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.office-name {
  font-size: 16px;
  font-style: italic;
  flex-direction: column;
  margin: 5px 0 0;
}

/* Right Section: About Button */
.header-right {
  flex: 1; /* Push content to the right */
  display: flex;
  justify-content: flex-end;
}

/* Buttons */
.header-button {
  background-color: #fff;
  color: #004b8d;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.header-button:hover {
  background-color: #003366;
  color: #fff;
}